body {background: rgb(2,0,36);
    background: linear-gradient(338deg, rgba(2,0,36,1) 10%, rgba(0,0,0,1) 52%, rgba(0,24,42,1) 94%);
  }
  body, h1, h2, h3, h4, h5, h6  {
    font-family: Geneva, Verdana, sans-serif;
  }

  div.a {text-align: center;
    color:whitesmoke
}




.h{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.button1 {
  
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
   
    font-size: 16px;
  
    cursor: pointer;
   
  }

.button1 {border-radius: 50px;}

.button1 :hover {
    box-shadow: 0 50px 50px 0 rgba(255, 255, 255, 0.12),0 50px 50px 0 rgba(255, 255, 255, 0.12);
  }

  #container{
    width: 100%;
    height: 600px;
  
    border-radius: 5px;
  
  }
  
  #inner_container{
    width: 500px;
    height: 500px;
    justify-content: center;
    box-shadow: 0px 0px 36px -22px #2B2D42;
    float: center;
    margin-bottom: 33px;
    border-style: double;
    background-image: url("tape.png");
  }
  
  img{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    
  
  }
  
  #button_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button{
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
   
    font-size: 16px;
  
    cursor: pointer;
    background-color: #ffffff;
  }
  
  button:hover{
    transition: 0.05s;
  
    background-color: #ffffff;
    box-shadow: 0 0 30px -10px #dbdbdb;
  }
  
  button:active{
    
    background-color: #1b790f;
    border-radius: 50px;
    transition: all 0.06s
  }