body {
    background-color: black;
  }

  * {
    color:whitesmoke!important
  }

  div.a {text-align: center;}

  #imageArray {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}